<!DOCTYPE html>
    <html>
    <head>
        <title>MvcCoreAdoNet</title>
        <link href="~/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MvcCoreAdoNet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Vista1">Vista 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Hospitales" asp-action="Index">Hospitales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link3</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Doctores" asp-action="Index" class="nav-link">Doctores</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
    </body>
    <script src="~/js/jquery-4.0.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    </html>