@model List<Hospital>
<h1>Hospitales Ado Net</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Hospital hospital in Model)
            {
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Hospitales",
                    new { id = hospital.IdHospital }, 
                    new { @class = "btn btn-info" })
                </td>
            </tr>
        }
        </tbody>
    </table>
